<div class="IconsPage">
    <mat-card class="IconsCard">
        <div class="top">
            <mat-icon class="pin">push_pin</mat-icon>
        </div>
        <div class="downs">
            <div class="OnlyIcons">
                <button>
                    <mat-icon>add_alert</mat-icon>
                </button>
                <button>
                    <mat-icon>person_add</mat-icon>
                </button>
                <button>
                    <mat-icon>color_lens</mat-icon>
                </button>
                <button>
                    <mat-icon>image</mat-icon>
                </button>
                <button>
                    <mat-icon>archive</mat-icon>
                </button>
                <button>
                    <mat-icon>more_vert</mat-icon>
                </button>

            </div>
            <div>
                <button mat-button>Close</button>
            </div>
        </div>
    </mat-card>
</div>