<div class="IconsPage">
    <div class="OnlyIcons">
        <button mat-icon-button matTooltip="Remind me">
            <img src="../../../assets/outline_add_alert_black_24dp.png">
        </button>
        <button mat-icon-button matTooltip="Collaborator">
            <img src="../../../assets/outline_person_add_alt_1_black_24dp.png">
        </button>
        <button mat-icon-button matTooltip="Background options">
            <img src="../../../assets/outline_color_lens_black_24dp.png">
        </button>
        <button mat-icon-button matTooltip="Add image">
            <img src="../../../assets/outline_image_black_24dp.png">
        </button>
        <button mat-icon-button matTooltip="Archive">
            <img src="../../../assets/outline_archive_black_24dp.png">
        </button>
        <button mat-icon-button matTooltip="More">
            <mat-icon mat-list-icon class="material-icons-outlined">more_vert</mat-icon>
        </button>
    </div>
</div>