<div class="IconsPage">
    <mat-card class="IconsCard">
        <div class="top">
            <button mat-icon-button matTooltip="Pin">
                <mat-icon mat-list-icon class="material-icons-outlined">push_pin</mat-icon>
            </button>
        </div>
        <div class="downs">
            <div class="OnlyIcons">
                <button mat-icon-button matTooltip="Reminder">
                    <mat-icon mat-list-icon class="material-icons-outlined">add_alert</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Collaborator">
                    <mat-icon mat-list-icon class="material-icons-outlined">person_add</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Colors">
                    <mat-icon mat-list-icon class="material-icons-outlined">color_lens</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Images">
                    <mat-icon mat-list-icon class="material-icons-outlined">image</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Archive">
                    <mat-icon mat-list-icon class="material-icons-outlined">archive</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Options">
                    <mat-icon mat-list-icon class="material-icons-outlined">more_vert</mat-icon>
                </button>
            </div>
            <div>
                <button mat-button>Close</button>
            </div>
        </div>
    </mat-card>
</div>