<div class="FullPage">
    <form [formGroup]="registerForm" (ngSubmit)="Register()">
        <mat-card class="card">
            <div class="FormFields">
                <mat-card-title class="mat-card-title"> <span style="color: rgb(81, 120, 226)">F</span><span
                        style="color: rgb(214, 80, 98)">u</span><span style="color: rgb(231, 228, 39)">n</span><span
                        style="color: rgb(81, 120, 226)">d</span><span style="color: rgb(7, 219, 53)">o</span><span
                        style="color: rgb(214, 43, 71)">o</span>
                </mat-card-title>
                <h2>Create your Fundoo Account </h2>
                <div class="FirstLast">
                    <mat-form-field class="First" appearance="outline">
                        <mat-label>First name</mat-label>
                        <input matInput formControlName="FirstName">
                        <mat-error>Please enter first name</mat-error>
                    </mat-form-field>
                    <mat-form-field class="Last" appearance="outline">
                        <mat-label>Last name</mat-label>
                        <input matInput formControlName="LastName">
                    </mat-form-field>
                </div>
                <div class="UserName">
                    <mat-form-field class="email" appearance="outline" matSuffix="@gmail.com">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="Email">
                        <!-- <span class="gmail">@gmail.com</span> -->
                    </mat-form-field>
                </div>
                <div class="header2">
                    <h5>You can use letters, numbers & periods</h5>
                </div>
                <div class="PasswordAndConfirm">
                    <mat-form-field class="Pswd" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="Password" [type]=" show ? 'text':'password'">
                    </mat-form-field>
                    <mat-form-field class="ConfirmPaswd" appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput [type]=" show ? 'text':'password'">
                    </mat-form-field>
                </div>
                <div class="Header3">
                    <h5>Use 8 or more characters with a mix of letters, numbers & symbols</h5>
                </div>
                <section class="checkbox">
                    <mat-checkbox (change)="ShowPassword()">Show Password</mat-checkbox>
                </section>
                <div class="SigninAndNextButton">
                    <button mat-button style="color: DodgerBlue;">Sign in instead</button>
                    <section>
                        <div>
                            <button mat-raised-button color="primary">Next</button>
                        </div>
                    </section>
                </div>

            </div>
            <div class="logotitle">
                <div class="Image">
                    <img src="../../../assets/images.jpg" alt="RegisterPageLogo">
                    <h4>One account. All of Fundoo</h4>
                    <div class="secondline">
                        <h4>working for you.</h4>
                    </div>
                </div>
            </div>
        </mat-card>
    </form>
</div>