.FullPage{
    display: flex;
    justify-content: center;
}
.card{
    position: relative;
    top: 30px;
    display: flex;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 730px;
    height: 490px;
}
.FormFields{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;
}
.FirstLast{
    display: flex;
    justify-content: space-between;
}
.mat-form-field-appearance-outline{
    width: 193px;
}
.UserName{
    .mat-form-field-appearance-outline{
        width: 100%;
    }
}
// .gmail{border: 1px solid red;
//     display: block;
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     color: #333;
//     font-size: 15px;
// }

.PasswordAndConfirm{
    display: flex;
    justify-content: space-between;
    
}
.SigninAndNextButton{
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
} 
.Image{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 310px;
}
.secondline{
    position: relative;
    top: -19px;
}
@media screen and (max-width: 1050px){
    .Image{
        display: none;
    }
    .card{
        width: 410px;
    }
}