.FullPage{
    display: flex;
    justify-content: center;
}
.card{
    position: relative;
    top: 30px;
    display: flex;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 55vw;
    height: 85vh;
}
.FirstLast{
    display: flex;
    justify-content: space-between;
}
.mat-form-field-appearance-outline{
    width: 163px;
}
.UserName{
    .mat-form-field-appearance-outline{
        width: 340px;
    }
}
// .gmail{border: 1px solid red;
//     display: block;
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     color: #333;
//     font-size: 15px;
// }
.header2{
    position: relative;
    top: -20px;
}
.PasswordAndConfirm{
    display: flex;
    justify-content: space-between;
}
.Header3{
    position: relative;
    top: -20px;
}
.checkbox{
    position: relative;
    top: -17px;
}
.SigninAndNextButton{
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
} 
.Image{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 310px;
}
.secondline{
    position: relative;
    top: -14px;
}
@media screen and (max-width: 800px){
    .Image{
        display: none;
    }
    .card{
        width: 360px;
    }
}





// .FullPage{
//     display: flex;
//     justify-content: center;
// }
// .main{
//     margin-top: 10px;
//     border: 1px solid gray;
//     border-radius: 10px;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     width: 60vw;
//     height: 95vh;
// }
// .left{
//     width: 450px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     padding: 30px;
// }
// .MainLogo{
//     display: flex;
//     height: 80px;
//     flex-direction: column;
//     justify-content: space-between;

// }
// .FirstLast{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// .UserName{
   
//     width: 100%;
//     .mat-form-field-appearance-outline{
//         width: 100%;
//         display: flex;
//     }
// }
// .PasswordAndConfirm{
  
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// .SigninAndNextButton{
//     border: 1px solid red;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 60px;
// }
// .Signin{
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// .right{
//     width: 300px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//     height: 300px;
// }
// .oneacc{
//     height: 25px;
//     width: 200px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }
// @media screen and (max-width: 60vw){
//     .right{
//         display: none;
//     }
//     .left{
//         width: 360px;
//     }
// }
