<div class="FullPage">
    <form [formGroup]="registerForm" (ngSubmit)="Register()">
        <mat-card class="card">
            <div class="FormFields">
                <mat-card-title class="mat-card-title">
                     <span style="color: rgb(32, 84, 226)">F</span>
                     <span style="color: rgb(211, 28, 52)">u</span>
                     <span style="color: rgb(207, 205, 50)">n</span>
                     <span style="color: rgb(33, 82, 216)">d</span>
                     <span style="color: rgb(34, 224, 75)">o</span>
                     <span style="color: rgb(221, 38, 69)">o</span>
                </mat-card-title>
                <h2>Create your Fundoo Account </h2>
                <div class="FirstLast">
                    <mat-form-field hideRequiredMarker appearance="outline">
                        <mat-label>First name</mat-label>
                        <input matInput formControlName="FirstName">
                        <mat-error>Please enter first name</mat-error>
                    </mat-form-field>
                    <mat-form-field hideRequiredMarker appearance="outline">
                        <mat-label>Last name</mat-label>
                        <input matInput formControlName="LastName">
                        <mat-error>Please enter last name</mat-error>
                    </mat-form-field>
                </div>
                <div class="UserName">
                    <mat-form-field hideRequiredMarker appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="Email">
                        <mat-error>Please enter valid email</mat-error>
                        <mat-hint>You can use letters, numbers & periods</mat-hint>
                        <span class="gmail" matSuffix>@gmail.com</span>
                    </mat-form-field>
                </div>
                <div class="PasswordAndConfirm">
                    <mat-form-field hideRequiredMarker appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="Password" [type]=" show ? 'text':'password'">
                        <mat-error>Please enter a valid password</mat-error>
                        <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput [type]=" show ? 'text':'password'">
                    </mat-form-field>
                </div>
                <section class="checkbox">
                    <mat-checkbox (change)="ShowPassword()">Show Password</mat-checkbox>
                </section>
                <div class="SigninAndNextButton">
                    <a routerLink="/login"><button mat-button style="color: DodgerBlue;">Sign in instead</button></a>
                    <section>
                        <div>
                            <button mat-raised-button color="primary">Next</button>
                        </div>
                    </section>
                </div>
            </div>
            <div class="logotitle">
                <div class="Image">
                    <img src="../../../assets/images.jpg" alt="RegisterPageLogo">
                    <h4>One account. All of Fundoo</h4>
                    <div class="secondline">
                        <h4>working for you.</h4>
                    </div>
                </div>
            </div>
        </mat-card>
    </form>
</div>