.DashboardPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ToolCard{
    height: 40px;
}
.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topleft{
    display: flex;
    gap: 10px;
    height: 45px;
    align-items: center;
}
.AppName{
    font-size: large;
}
.Searchbar{
    display: flex;
    justify-content: space-around;
    border-radius: 7px;
    height: 48px;
    width: 670px;
    align-items: center;
    background-color: rgba(240, 240, 243, 0.945);
    .search{
        font-size: large;
        height: 30px;
        background: transparent;
        width: 590px;
        border: none;
        outline: none;
    }
}
.sidesearchicons{
    display: flex;
    align-items: center;
    height: 45px;
    gap: 5px;
}
.LastTopRights{
    display: flex;
    align-items: center;
    height: 45px;
    gap: 3px;
}
.Sidebar{
    padding: 10px;
}
.container{
    width: 19vw;
    display: flex;
}
.sidebarevents{
    display: flex;
}
.Titles{
display: flex;
font-size: medium;
justify-content: center;
align-items: center;
}
.notesfield{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.example-sidenav-container{
    height: auto;
}
.notescontent{
    display: flex;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
}
.upperone{
    align-items: center;
    height: max-content;
}
.lowerone{
    display: flex;
padding: 30px;
justify-content: space-around;
align-items: center;
    height: max-content;
}