.DashboardPage{
    display: flex;
    flex-direction: column;
}
.ToolCard{
    height: 40px;
}
.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topleft{
    display: flex;
    gap: 10px;
    height: 45px;
    align-items: center;
}
.AppName{
    font-size: large;
}
.Searchbar{
    display: flex;
    justify-content: space-around;
    border-radius: 7px;
    height: 48px;
    width: 670px;
    align-items: center;
    background-color: rgba(240, 240, 243, 0.945);
    .search{
        font-size: large;
        height: 30px;
        background: transparent;
        width: 590px;
        border: none;
        outline: none;
    }
}
.sidesearchicons{
    display: flex;
    align-items: center;
    height: 45px;
    gap: 5px;
}
.LastTopRights{
    display: flex;
    align-items: center;
    height: 45px;
    gap: 3px;
}
.container{
    height: 70vh;
    width: 17vw;
}
.lowerone{
    position: relative;
    top: 20px;
}