<div class="DashboardPage">
    <mat-card class="ToolCard">
        <div class="topbar">
            <div class="topleft">
                <button mat-icon-button matTooltip="Main menu">
                    <mat-icon mat-list-icon class="material-icons-outlined">menu</mat-icon>
                </button>
                <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" alt="Fundoo Icon">
                <div class="AppName">Fundoo</div>
            </div>
            <div class="Searchbar">
                <button mat-icon-button matTooltip="Search">
                    <mat-icon matPrefix>search</mat-icon>
                </button>
                <div class="searchinput">
                    <input class="search" type="search" placeholder="Search">
                </div>
                <button mat-icon-button matTooltip="Clear search">
                    <mat-icon mat-list-icon class="material-icons-outlined" matSuffix>clear</mat-icon>
                </button>
            </div>
            <div class="sidesearchicons">
                <button mat-icon-button matTooltip="Refresh">
                    <mat-icon>refresh</mat-icon>
                </button>
                <button mat-icon-button matTooltip="View">
                    <img src="../../../assets/outline_view_agenda_black_24dp.png">
                </button>
                <button mat-icon-button matTooltip="Settings">
                    <img src="../../../assets/outline_settings_black_24dp.png">
                </button>
            </div>
            <div class="LastTopRights">
                <button mat-icon-button matTooltip="apps">
                    <mat-icon mat-list-icon class="material-icons-outlined">apps</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Account">
                    <img src="../../../assets/outline_account_circle_black_24dp.png">
                </button>
            </div>
        </div>
    </mat-card>
    <div class="container">
        <div class="Sidebar">
            <app-sidenav></app-sidenav>
        </div>
        <div class="component"><app-create-notes></app-create-notes></div>
    </div>
</div>