<div class="DashboardPage" [class.example-is-mobile]="mobileQuery.matches">
    <mat-card class="ToolCard">
        <div class="topbar">
            <div class="topleft">
                <button mat-icon-button (click)="snav.toggle()" matTooltip="Main menu" matTooltipClass="tooltips">
                    <mat-icon>menu</mat-icon>
                </button>
                <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" alt="Fundoo Icon">
                <div class="AppName">Fundoo</div>
            </div>
            <div class="Searchbar">
                <button mat-icon-button matTooltip="Search">
                    <mat-icon matPrefix>search</mat-icon>
                </button>
                <div class="searchinput">
                    <input class="search" type="search" placeholder="Search">
                </div>
                <button mat-icon-button matTooltip="Clear search">
                    <mat-icon matSuffix>clear</mat-icon>
                </button>
            </div>
            <div class="sidesearchicons">
                <button mat-icon-button matTooltip="Refresh" tool>
                    <mat-icon>refresh</mat-icon>
                </button>
                <button mat-icon-button matTooltip="List view">
                    <img src="../../../assets/outline_view_agenda_black_24dp.png">
                </button>
                <button mat-icon-button matTooltip="Settings">
                    <img src="../../../assets/outline_settings_black_24dp.png">
                </button>
            </div>
            <div class="LastTopRights">
                <button mat-icon-button matTooltip="apps">
                    <mat-icon>apps</mat-icon>
                </button>
                <button [matMenuTriggerFor]="account" mat-icon-button matTooltip=" Fundoo account">
                    <img src="../../../assets/outline_account_circle_black_24dp.png">
                </button>
                <mat-menu #account="matMenu">
                    <button mat-menu-item (click)="SignOut()">Sign out</button>
                </mat-menu>
            </div>
        </div>
    </mat-card>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <div class="container">
                <mat-nav-list>
                    <app-sidenav></app-sidenav>
                </mat-nav-list>
            </div>
        </mat-sidenav>
            <div class="lowerone">
                <router-outlet></router-outlet>
                <!-- <app-get-all-notes></app-get-all-notes> -->
            </div>
    </mat-sidenav-container>
</div>