.totalpage{
    display: flex;
    justify-content: center;
    position: relative;
    top: 180px;
}
.notecard{
    width: 230px;
    height: 10vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border : 1px solid rgb(221, 199, 199);
}
.notes{
    justify-content: space-between;
    display: flex;
}
.makenotes{
    border:none;
    outline:none;
    font-size: medium;
}