.FullPage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 470px;
    width: 400px;
}
.CreateAndNextButton{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.ForgotPassword{
    width:350px;
    justify-content: flex-start;
}
.mat-card-title{
    font-size: 25px;
}

.mat-form-field-appearance-outline{
    width: 360px;
}