<div class="FullPage">
    <form [formGroup]="loginForm" (ngSubmit)="Login()">
        <mat-card class="card">
            <div class="FormInputs">
                <mat-card-title class="mat-card-title"> <span style="color: rgb(81, 120, 226)">F</span><span
                        style="color: rgb(214, 80, 98)">u</span><span style="color: rgb(231, 228, 39)">n</span><span
                        style="color: rgb(81, 120, 226)">d</span><span style="color: rgb(7, 219, 53)">o</span><span
                        style="color: rgb(214, 43, 71)">o</span>
                </mat-card-title>
                <div class="FirstHeader">
                    <h1>Sign in </h1>
                </div>
                <div class="SecondHeader">
                    <h3>Use your Fundoo Account</h3>
                </div>
                <div class="EmailField">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="Email">
                    </mat-form-field>
                </div>
                <div class="PasswordField">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="Password" [type]=" show ? 'text':'password'">
                    </mat-form-field>
                </div>
                <div class="ForgotPassword">
                    <button mat-button style="color: dodgerblue;">Forgot password?</button>
                </div>
                <div class="CreateAndNextButton">
                    <button mat-button style="color: dodgerblue;">Create account</button>
                    <section>
                        <div class="NextButton">
                            <button mat-raised-button color="primary">Next</button>
                        </div>
                    </section>
                </div>
            </div>
        </mat-card>
    </form>
</div>