.FullPage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 470px;
    width: 400px;
}
.CreateAndNextButton{
    position: relative;
    top: -10px;
    width: 380px;
    display: flex;
    justify-content: space-between;
}
.ForgotPassword{
    position: relative;
    top: -30px;
    width:385px;
    justify-content: flex-start;
}
.mat-card-title{
    font-size: 25px;
}

.mat-form-field-appearance-outline{
    width: 370px;
}