.FullPage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 440px;
    width: 400px;
}
.CreateAndNextButton{
    width: 350px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.ForgotPassword{
    width:350px;
    margin-top: -22px;
    justify-content: flex-start;
}
.mat-card-title{
    font-size: 25px;
}
.FirstHeader{
    margin-top: 25px;
    margin-bottom: 30px;
 }
.SecondHeader{
    margin-top: -20px;
    margin-bottom: 10px;
}
.EmailField{
    .mat-form-field-appearance-outline{
        width: 360px;
    }
}
.PasswordField{
    .mat-form-field-appearance-outline{
        width: 360px;
    }
}