<div class="full">
    <mat-card class="cards">
        <div class="takenote">
            <input class="Inputfield"  placeholder="Take a note...">
        </div>
        <mat-icon class="imageicon">image</mat-icon>
    </mat-card>
</div>

<div class="fullpage">
    <mat-card class="card">
        <div class="TitleAndNote">
            <input class="InputFields" placeholder="Title">
        </div>
        <div class="TitleAndNote">
            <input class="InputFields" placeholder="Take a note...">
        </div>
    </mat-card>
</div>