<div class="full">
    <mat-card class="cards">
        <div class="takenote">
            <input class="Inputfield"  placeholder="Take a note...">
        </div>
        <mat-icon class="imageicon">image</mat-icon>
    </mat-card>
</div>

<div class="fullpage">
    <mat-card class="card">
        <div class="TitleAndNote">
            <input class="InputFields" placeholder="Title">
            <mat-icon class="pin">push_pin</mat-icon>
        </div>
        <div class="TitleAndNote">
            <input class="InputFields" placeholder="Take a note...">
        </div>
        <div class="TitleAndNote">
            <div class="icons">
                <mat-icon>add_alert</mat-icon>
                <mat-icon>person_add</mat-icon>
                <mat-icon>color_lens</mat-icon>
                <mat-icon>image</mat-icon>
                <mat-icon>archive</mat-icon>
                <mat-icon>more_vert</mat-icon>
            </div>
            <div>Close</div>
        </div>
    </mat-card>
</div>
