<mat-dialog-content class="dialogbox">
    <form [formGroup]="updateNoteForm">
        <div class="TitleAndNote">
            <input matInput type="text" formControlName= "title">
            <button mat-icon-button matTooltip="Pin note">
                <img src="../../../assets/outline_push_pin_black_24dp.png">
            </button>
        </div>
        <div class="TitleAndNote">
            <input matInput type="text" formControlName= "description">
        </div>
        <div class="TitleAndNote">
            <div class="NoteIcons">
                <app-icons></app-icons>
            </div>
            <button mat-button mat-dialog-close (click)="onSubmit()">Close</button>
        </div>
    </form>
</mat-dialog-content>