.displaynotes{
    display: flex;
    position: relative;
    top: 30px;
    justify-content: space-around;
    align-items: center;
}
.all{
    border: 1px solid red;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}