.FullPage{
    display: flex;
    justify-content: center;
}
.card{
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 410px;
    width: 400px;
}
.NextButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.mat-card-title{
    font-size: 25px;
}
.mat-form-field-appearance-outline{
    width: 370px;
}