<div class="FullPage">
    <mat-card class="card">
        <mat-card-title class="mat-card-title"> <span style="color: rgb(81, 120, 226)">F</span><span
                style="color: rgb(214, 80, 98)">u</span><span style="color: rgb(231, 228, 39)">n</span><span
                style="color: rgb(81, 120, 226)">d</span><span style="color: rgba(54, 243, 95, 0.979)">o</span><span
                style="color: rgb(214, 43, 71)">o</span>
        </mat-card-title>
        <h1>Reset Password</h1>
        <div class="EmailField">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="PasswordField">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <mat-error>Please enter a valid password</mat-error>
                <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="ConfirmPasswordField">
            <mat-form-field appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="PswdandReset">
            <section>
                <mat-checkbox>Show Password</mat-checkbox>
            </section>
            <div>
                <button mat-raised-button color="primary">Reset</button>
            </div>
        </div>
    </mat-card>
</div>